* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@media(min-width: 801px) {
  .hide-desktop {
    display: none;
  }

  .desktop-menu {
    display: flex;
    width: 99%;
    height: 7vh;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dddfe6;
  }

  .desktop-menu a {
    list-style-type: none;
    margin-right: 50px;
    color:#1a2236;
    font-weight: 600;
    text-decoration: none;
  }

  .desktop-menu a:hover {
    text-decoration: underline;
    color:#1a2236;
    font-weight: bold;
  }

  .headline {
    width: 99%;
    display: flex;
    margin-left: 15px;
    margin-bottom: 100px;
    justify-content: flex-end;
    align-items: center;
  }

  .images {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .hello {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .name-title {
    font-size: 85px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #1a2236;
    margin-bottom: 20px;
    padding-right: 160px;
  }

  .info {
    color: #1a2236;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 28px;
    text-align: justify;
  }

  .collaboration {
    width: 300px;
    height: 50px;
    background-color: #1a2236;
    color: #fff;
    font-weight: 800;
  }


  .section-project-title {
    font-family: 'Playfair Display', serif;
    color: #1a2236;
    font-size: 76px;
    font-weight: 400;
    width: 150px;
    height: 500px;
    margin-left: 300px;
    margin-top: 185px;
    transform: rotate(270deg);
    padding-left: 200px;
  }
  
  .projects-desktop {
    display: flex;
    width: 99%;
  }

  .project {
    width: 19%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 5px;
  }
  
  .project img {
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 477px;
    margin-right: 20px;
  }

  .laptop-image {
    width: 82%;
    height: 690px;
  }

  .dots {
    margin-right: 20px;
  }

  .laptop {
    width: 960px;
    height: 558px;
    margin-right: 10px;
  }

  .laptop-image {
    width: 100%;
    height: 52vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .vertical-dots {
    width: 150px;
    padding-bottom: 780px;
    padding-right: 10px;
  }

  .project-name {
    border: 3px solid transparent;
    position: absolute;
    top: 78rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 960px;
    height: 358px;
    margin-left: 12rem;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, rgba(26, 34, 54, 0.95), rgba(26, 34, 54, 0.95));
    backdrop-filter: blur(5px);
  }

  .title-project {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 27px;
    margin-bottom: 20px;

  }

  .language {
    display: flex;
    font-size: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .language ul {
    list-style-type: none;
  }
  
  .language li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 40px;
    list-style-type: none;
    margin-right: 10px;
    color: black;
    font-weight: bold;
    background-color: #98dede;
    font-size: 15px;
  }

  .see-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #fff;
  }
  
  .see-project img {
    margin-left: 10px;
    color: black;
  }

  .macbook {
    display: flex;
    border: 2px solid red;
    margin-top: -107px;
    margin-right: 20px;
  }

  .pro16 {
    width: 465px;
    height: 270px;
  }

  .figures {
    width: 511px;
    height: 250px;
  }

  .pink-laptop {
    width: 465px;
    height: 270;
  }
}