* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
}

.headline {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.name-title {
  font-size: 68px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #1a2236;
  margin-bottom: 10px;
}

.info {
  color: #1a2236;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 25px;
}

.collaboration {
  width: 100%;
  height: 50px;
  background-color: #1a2236;
  color: #fff;
  font-weight: 800;
}

main img {
  width: 100%;
}

.projects-mobile {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  height: auto;
}

.section-title {
  font-size: 68px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #1a2236;
  margin-top: 20px;
  margin-left: 16px;
}

.title-project {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 16px;
}

.project-name {
  background-color: #1a2236;
  color: #fff;
  height: 25vh;
  margin-top: -8px;
}

.language {
  display: flex;
  font-size: 10px;
  margin-left: 16px;
}

.language li {
  list-style-type: none;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 75px;
  background: #98dede;
  color: #1a2236;
  font-weight: 600;
  text-align: center;
}

.see-project {
  width: 200px;
  height: 50px;
  margin-left: 16px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: 10px;
  font-size: 20px;
  font-weight: bold;
}

.see-project img {
  width: 15px;
  margin-left: 10px;
  margin-top: 5px;
}

.about {
  margin-left: 16px;
  margin-right: 16px;
  height: 50vh;
}

.paragraph {
  width: 100%;
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
  line-height: 25px ;
  font-size: 14px;
  font-weight: 600;
  color: #1a2236;
}

.cv {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  background: #1a2236;
  color: #fff;
  font-weight: 600;
}

.cv img {
  width: 20px;
  margin-left: 10px;
}

.skills-blue {
  height: 280px;
  border: 2px solid #1c528a;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  background:#1c528a;
  background-image: url("Images/ic_languages_mob.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.skills-pink {
  height: 280px;
  background: #E2505C;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  background-image: url("Images/ic_framework.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.skills-yellow {
  height: 280px;
  background: #FEBF52;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  background-image: url("Images/ic_skills.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.skills-title {
  margin-left: 35px;
  color: #fff;
  font-weight: bold;
  line-height: 4em;
}

.languages-skills {
  display: flex;
  flex-direction: column;
  margin-left: 56px;
  color: #fff;
  font-weight: bold;
}