* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
}

.headline {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.name-title {
  font-size: 68px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #1a2236;
  margin-bottom: 10px;
}

.info {
  color: #1a2236;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 25px;
}

.collaboration {
  width: 100%;
  height: 50px;
  background-color: #1a2236;
  color: #fff;
  font-weight: 800;
}
